{% extends 'share_layout/base.html' %}

{% block title %}登录{% endblock %}

{% block body %}
    <div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="{% url 'users:register' %}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form class="layui-form">
              <div class="layui-form-item">
                <label for="text" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  {{ form.username }}
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  {{ form.password }}
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">

                  <input type="text" id="id_captcha_1" name="captcha_1" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
{#                <div class="layui-form-mid">#}
{#                  <span style="color: #c00;">#}
{#                    <input id="id_captcha_1" class="form-control user_captcha" placeholder="请输入验证码" autocomplete="off" autocapitalize="off" spellcheck="false" name="captcha_1" type="text" >#}
                    <img class="captcha" alt="" src="{{image_url}}">
                    <input id="id_captcha_0" name="captcha_0" value="{{hashkey}}" type="hidden">
                    {{form.captcha.errors}}
{#                  </span>#}
{#                </div>#}
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="L_login" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="{% url 'users:find_pass' %}">忘记密码？</a>
                </span>
                  <p style="color: red;">{{ errors }}</p>
              </div>
{#              <div class="layui-form-item fly-form-app">#}
{#                <span>或者使用社交账号登入</span>#}
{#                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>#}
{#                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>#}
{#              </div>#}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
     <script>
        layui.use(['layer','form'], function(){
        var layer = layui.layer
           ,form = layui.form;
          form.on('submit(L_login)', function(data){
              var username = $("#L_username").val();
              var password = $("#L_pass").val();
              var vercode = $("#id_captcha_1").val();
              var haskey = $("#id_captcha_0").val();

          $.ajax({
              type: "post",
              url: "{% url 'users:login' %}",
              data: {'username': username, 'password': password, 'vercode': vercode, 'haskey': haskey},
              dateType: "json",
              async: false,
              {#beforeSend:function(xhr, settings){#}
              {#    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");#}
              {#  },#}
              success: function(data) {
                  if(data.status == 'success'){
                      alert("登录成功！");
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'vercode error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("验证码错误！");
                      location.reload();
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("用户名或密码错误！");
                      location.reload();
                  }
                  else if(data.status == 'user error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("用户名不存在！");
                      location.reload();
                  }
              },
          });
          return false;
            });
          });
    </script>
    <script>
        $("img.captcha").click(function(){
            $.ajax({
                url: '{% url 'users:captcha_refresh' %}',
                success: function(data){
                    $("img.captcha").attr("src",data.image_url);
                    $("#id_captcha_0").attr("value",data.key);
                },

            });
        });

    </script>
{% endblock %}
